storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  port: {{ default_mongodb_port }}

setParameter:
  enableLocalhostAuthBypass: false
